@import "https://fonts.googleapis.com/css?family=Roboto:300,400,600";

body {
  background-color: #3EA5EA;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  margin: 100px 0px 0px 0px;
}

.tix-container {
  background-color: #FEFEFE;
  border-radius: 14px;
  box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 600px;
}

.tix-upper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  margin-top: 25px;
  overflow: hidden;
}

.tix-upper-left {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  left: -6px;
  position: relative;
}

.tix-date {
  color: #3EA5EA;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0px;
}

.tix-time-container {
  display: flex;
  flex-direction: row;
}

.tix-time {
  font-size: 30px;
  font-weight: 300;
  margin: 0px;
}

.tix-date-time {
  color: #CACDDA;
  font-size: 12px;
  margin: 0px;
  margin-left: auto;
}

.tix-upper-middle {
  flex: 1 1 auto;
  margin-left: 6px;
}

.tix-to-from-small {
  color: #CACDDA;
  font-size: 12px;
  margin: 0px;
}

.tix-to-from-large {
  font-size: 40px;
  margin: 0px;
}

.tix-plane {
  color: #EEEEEE;
  font-size: 60px;
  margin-right: 20px;
  margin-top: 4px;
}

.tix-lower {
  background-image: url("../images/barcode.png");
  background-position: 0 -12px;
  background-size: auto 110px;
  border-radius: 0px 0px 30px 14px;
  box-shadow: inset 0px 67px 16px -64px black;
  color: #FEFEFE;
  height: 80px;
  width: 100%;
}

.tix-lower-overlay {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0px 0px 30px 14px;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.tix-lower-info-container {
  border-radius: 0px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.tix-lower-triangle {
  border-style: solid;
  border-width: 0 50px 80px 0;
  border-color: transparent #3EA5EA transparent transparent;
  display: inline-block;
  height: 0;
  width: 0;
}

.tix-lower-triangle::before {
  background-color: transparent;
  box-shadow: -10px 20px 30px -2px rgba(0, 0, 0, 0.1);
  content: '';
  position: absolute;
  height: 80px;
  width: 50px;
  transform: skewX(33deg);
  margin-left: 24px;
}

.tix-lower-triangle-blue-background {
  background-color: #3EA5EA;
}

.tix-lower-container {
  background-color: #3EA5EA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.tix-lower-title {
  font-size: 12px;
  margin: 0px;
}

.tix-lower-number {
  font-size: 26px;
  font-weight: 300;
  margin: 0px;
}

.tix-seat-container {
  border-radius: 0px 0px 14px 0px;
}
